@charset "UTF-8";
body { background-color: #FFF0B5; font-size: 9pt; }
table { background-color: yellow; }
tr:hover { background-color: ornage; }
td { background-color: #FFE271; text-align: center; padding: 10px;}
.left { text-align: left; }