.contents-wrap {height: 100%;
    padding-bottom: 150px;}
.myPage-inner-contents {width: 1200px; margin:0 auto;}

/* 회원 정보 */
.border-line-box-header {
    margin-top: 59px;
}
.border-line-box-header {
    position: relative;
    display: block;
}
.text-head2 {
    color: #000;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: -1.1px;
}
.tbl-form-wrap {
    margin-top: 16px;
    padding: 20px 20px 63px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #b5b5b5;
}
.tbl-form  {
    border-collapse: separate;
    border-spacing : 15px;
}
.tbl-form th, .tbl-form td {
    font-size : 15px;
}
.tbl-form th {
    width : 130px;
}
/* 테이블 input */
.tbl-form input.disabledInput {
    border-bottom: 0px solid white;
}
.tbl-form input {
    width : 100%;
    height: 30px;
    font-size : 13px;
    border : 0px;
    border-bottom: 1px solid gray;
    margin-bottom: 3px;
}
.tbl-form input[name='mem_zipcode'] {
    width : 45%;
}
/* 우편번호 버튼 */
#zipcodeBtn {
	padding : 7px;
	border : 1px solid black;
	font-weight : 600;
}
#zipcodeBtn:hover {
	background-color: black;
	color : white;
}

/* 이메일 */
.tbl-form .formEmailDiv input{
    width : 45%;
}
/* 휴대폰 */
.tbl-form .formTelDiv input {
    width: 45%;
}

/* required */
th.required:after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 3px;
    border-radius: 50%;
    background: #ee1c25;
    vertical-align: super;
}



