.contents-wrap {height : 1300px; padding-bottom: 0px;}
.myPage-inner-contents {width: 1200px; margin:0 auto;}

/* reset */
ul, ol {
    list-style: none; 
    margin: 0;
    padding: 0;
}
html, body, select, input, button, textarea {
    font-family: "Noto Sans KR",sans-serif;
}
a {
    text-decoration: none;
    color : #000;
}
h2,h3 {
    margin: 0;
}
table {
    width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

/* top bar */
.breadcrumb-wrap {
    height: 60px;
    line-height: 60px;
}
.breadcrumb-list li {
    display: inline-block;
}
.breadcrumb-list .crumb.home {
    padding-left: 17px;
    font-weight: 600;
}
.breadcrumb-list .crumb {
    position: relative;
    color: #999;
    padding-left: 14px;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    line-height: 15px;
    font-size: 13px;
    letter-spacing: -.65px;
}
.breadcrumb-list .crumb+.crumb {
    margin-left: 9px;
}

/* top bar before : > 표시 */
.breadcrumb-list .crumb.home:before {
    width: 12px;
    background-position: 0 0;
}
.breadcrumb-list .crumb:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 11px;
    background: url(https://abcmart.a-rt.com/static/images/common/comm_breadcrumb_icon_ots.png) no-repeat -12px 0;
    left: 0;
    top: 2px;
}

/* 마이페이지 타이틀 */
.breadcrumb-wrap+.page-title-wrap {
    margin-top: 18px;
    position: relative;
}
.text-head1 {
    text-align: center;
    color: #000;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.text-left {
    text-align: left;
}

/* mypage-wrap 부분 */
.contents-wrap .page-title-wrap+.contents-inner.contents-aside {
    margin-top: 50px;
    display: flex;
}

/* LNB */
.contents-aside .aside-wrap {
    width: 220px;
    padding-right: 60px;
}
/* 마이페이지 바깥쪽 ol */
.mypage-lnb .mypage-lnb-title {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -1px;
}
/* 마이페이지 바깥쪽 li */
.mypage-wrap .mypage-lnb>li ~ li {
    margin-top: 40px;
}
.mypage-lnb .mypage-lnb-title+ol {
    margin-top: 15px;
}
.mypage-lnb .mypage-lnb-item a {
    display: inline-block;
    color: #999;
    line-height: 27px;
    font-size: 14px;
    letter-spacing: -.7px;
}

/* 회원기본정보영역 */
.contents-aside .aside-contents {
    width: calc(100% - 220px);
}

/* grade box */
.member-grade-box {
    box-sizing: border-box;
    height: 200px;
    margin-bottom: 55px;
    padding: 0 36px 0 46px;
    border: 4px solid #d5d5d5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* grade info 회원 */
.grade-info-box .grade-info {
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    font-size: 22px;
    letter-spacing: -1.1px;
}
.bold {
    font-weight: 700 !important;
}
/* shopping info (장바구니 / 찜하기) */
.shopping-info {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 173px;
    min-height: 90px;
    padding: 10px 60px 3px 60px;
    border-top: 1px solid #d5d5d5;
    vertical-align: top;
}
.info-item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.info-item .info-title {
    display: inline-block;
    color: #666;
    font-size: 14px;
    letter-spacing: -.7px;
    vertical-align: top;
}
/* 장바구니 / 좋아요 아이콘 */
.shopping-info .icon-cart, .shopping-info .icon-favorite {
    display: inline-block;
    width: 25px;
    height: 28px;
    margin-right: 4px;
    background: url(https://abcmart.a-rt.com/static/images/mypage/mypage_icon_shopping_info.png) no-repeat 0 0;
    vertical-align: -7px;
}
/* 장바구니 아이콘 */
.shopping-info .icon-cart {
    background-position: -53px 0;
}
/* 찜한상품 아이콘 */
.shopping-info .icon-favorite {
    background-position: -80px 0;
}
/* 장바구니 / 찜한상품 글씨 */
.shopping-info .info-item .info-data a{
    color : #ee1c25;
    font-size: 21px;
    font-weight: 700;
}

.shopping-info .info-item .info-data .unit {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    vertical-align: 1px;
    text-align: right;
}

/* 회원 정보 */
.border-line-box-header {
    margin-top: 59px;
}
.border-line-box-header {
    position: relative;
    display: block;
}
.text-head2 {
    color: #000;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: -1.1px;
}
.tbl-form-wrap {
    margin-top: 16px;
    padding: 20px 20px 63px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #b5b5b5;
}
.tbl-form  {
    border-collapse: separate;
    border-spacing : 15px;
}
.tbl-form th, .tbl-form td {
    font-size : 15px;
}
.tbl-form th {
    width : 130px;
}
/* 테이블 input */
.tbl-form input.disabledInput {
    border-bottom: 0px solid white;
}
.tbl-form input {
    width : 100%;
    height: 30px;
    font-size : 13px;
    border : 0px;
    border-bottom: 1px solid gray;
    margin-bottom: 3px;
}
.tbl-form input[name='zipcode'] {
    width : 266px;
}
/* 이메일 */
.tbl-form .formEmailDiv input{
    width : 45%;
}
/* 휴대폰 */
.tbl-form .formTelDiv input {
    width: 45%;
}

/* required */
th.required:after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 3px;
    border-radius: 50%;
    background: #ee1c25;
    vertical-align: super;
}



