@charset "UTF-8";
.border-line-box-header~.tab-wrap {
    margin-top: 22px;
}
/* 주문 탭 */
.tab-ul {
    text-align: center;
    border: 3px solid black;
    border-bottom: 3px solid white;
}
.tab-ul li {
    font-weight: 550;
    color: #000;
    padding: 0 20px;
    line-height: 48px;
}
/* 주문 몸체 */
body .tab-wrap:not(.multi-line) .tab-content {
    width: 100%;
}
/* .tbl-prod-wrap */
.tbl-prod-wrap {
	margin-top: 40px;
}
/* 실제 주문정보 들어가는 부분 */
.tbl-wrap.tbl-col.tbl-prod {
    text-align: left;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
}
/* 두번째 주문정보 살짝 띄우기 */
.tbl-wrap.tbl-col.tbl-prod+.tbl-prod {
    margin-top: 20px;
}
/* 각 주문 정보 헤더 */
.tbl-wrap .tbl-header.order {
    height: 57px;
    border-bottom-color: #b5b5b5;
    display: flex;
    justify-content: flex-start;
}
.tbl-wrap .tbl-header {
	padding: 0 20px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 주문 번호 / 주문 일시 */
.tbl-wrap .tbl-header.order .customer-action-info {
    flex: 1;
}
.customer-action-info .action-item {
    display: inline-block;
    vertical-align: top;
}
.tbl-wrap .tbl-header.order .customer-action-info .action-item .action-item-label {
    font-family: "Noto Sans KR",sans-serif;
    font-size: 15px;
    letter-spacing: -.75px;
}
.customer-action-info .action-item .action-item-label {
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    font-size: 16px;
    letter-spacing: -.8px; 
}
.customer-action-info .action-item .action-item-label, .customer-action-info .action-item .action-item-value {
    display: inline-block;
}
.tbl-wrap .tbl-header.order .customer-action-info .action-item .action-item-value {
    margin-left: 10px;
    font-size: 15px;
}
.customer-action-info .action-item .action-item-value.bold {
    font-weight: 700;
}
.customer-action-info .action-item .action-item-value {
    margin-left: 12px;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.customer-action-info .action-item .action-item-label, .customer-action-info .action-item .action-item-value {
    display: inline-block;
}
.customer-action-info .action-item+.action-item {
    position: relative;
    margin-left: 20px;
    padding-left: 21px;
}
.customer-action-info .action-item {
    display: inline-block;
    vertical-align: top;
}
.customer-action-info .action-item+.action-item:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #d5d5d5;
    left: 0;
    top: 50%;
    margin-top: -5px;
}
/* 총 결제금액 */
.tbl-wrap .tbl-header .right-box {
    display: flex;
}
.tbl-wrap .tbl-header .prod-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0;
}
.tbl-wrap .tbl-header .prod-price .price-text, .tbl-wrap .tbl-header .prod-price .val, .tbl-wrap .tbl-header .prod-price .unit {
    display: inline-block;
    vertical-align: top;
}
.tbl-wrap .tbl-header .prod-price .price-text {
    font-size: 14px;
    font-family: "Noto Sans KR",sans-serif;
}
.tbl-wrap .tbl-header .prod-price .val {
    margin-left: 8px;
    font-size: 15px;
    font-weight: 700;
    color: #ee1c25;
}
.tbl-wrap .tbl-header .prod-price .unit {
    font-size: 14px;
    font-family: "Noto Sans KR",sans-serif;
    color: #ee1c25;
}
/* 전체 취소 버튼 */
.tbl-wrap .tbl-header .prod-price+.btn {
    margin-left: 19px;
}
.btn.btn-sm {
    min-width: 110px;
    height: 38px;
    padding: 0 12px;
    line-height: 36px;
    font-size: 13px;
    letter-spacing: -.65px;
}
.btn {
    position: relative;
    display: inline-block;
    color: #fff;
    min-width: 140px;
    height: 44px;
    padding: 0 25px;
    background-color: #111;
    border: 1px solid #111;
    text-align: center;
    font-weight: 500;
    line-height: 42px;
    -webkit-transition: background-color .23s ease-out,border-color .23s ease-out;
    transition: background-color .23s ease-out,border-color .23s ease-out;
    font-size: 14px;
    letter-spacing: -.7px;
}
/* table */
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-style: normal;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
caption, legend {
    width: 0;
    height: 0;
    font-size: 1px;
    text-indent: -9999rem;
    line-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
/* colgroup */
.tbl-wrap.tbl-col col.prod-cost {
    width: 170px;
}
.tbl-wrap.tbl-col col.btn-sm {
    width: 150px;
}
/* tbody */
.tbl-wrap.tbl-col table tbody {
    border-bottom: 1px solid #b5b5b5;
}
/* td */
.tbl-wrap.tbl-col table tbody tr td {
    color: #000;
    height: 60px;
    padding: 23px 10px;
    border-top: 1px solid #e5e5e5;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: -.75px;
}
.tbl-wrap.tbl-col.tbl-prod tbody tr td {
    padding: 20px 20px 15px;
    font-size: 15px;
    border-right: none;
}
.tbl-wrap.tbl-col table tbody tr:first-child td {
    border-top: none;
    vertical-align: middle;
}
/* td - span */
.tbl-wrap.tbl-col.tbl-prod .prod-item {
    width: 100%;
}
.prod-item.individual {
    display: inline-block;
    width: 290px;
}
.prod-item {
    position: relative;
    font-size: 0;
    margin-bottom: 0;
}
/* td - span - inner */
.prod-item.individual .prod-item-inner {
    position: relative;
}
.prod-item .prod-item-inner {
    display: block;
    background: #fff;
}
/* td - span - inner - prod link */
.tbl-wrap.tbl-col.tbl-prod .prod-item .prod-link {
    align-items: start;
}
.prod-item.individual .prod-link {
	display : flex;
	align-content: stretch;
	justify-content: flex-start;
	align-items: center;
}
.prod-item .prod-link {
    display: block;
}
/* prod link - img */
.prod-item.individual .img-wrap {
    width: 100px;
    padding-top: 100px;
    flex: 0 0 100px;
}
.prod-item.individual .img-wrap, .prod-item.individual .prod-info-wrap {
    display: inline-block;
}
/* .prod-item .img-wrap {
    position: relative;
    padding-top: 100%;
} */
/* .prod-item .img-wrap img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */
img {
    vertical-align: top;
}
.prod-item.individual .prod-info-wrap {
    -webkit-box-flex: 1 1 calc(100% - 114px);
    -ms-flex: 1 1 calc(100% - 114px);
    flex: 1 1 calc(100% - 114px);
    max-width: calc(100% - 114px);
    margin-left: 14px;
    padding: 0;
}
.prod-item.individual .prod-info-wrap .prod-brand {
    font-size: 14px;
}
.prod-item .prod-info-wrap .prod-brand {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    height: auto;
    max-height: none;
    -webkit-box-orient: inherit;
    -webkit-line-clamp: inherit;
    line-height: 1.2;
}
.prod-item .prod-info-wrap .prod-name {
    color: #666;
    margin-top: 8px;
    font-size: 14px;
    font-family: "Spoqa Han Sans Neo","Noto Sans KR",sans-serif;
    overflow: hidden;
    height: 38px;
    max-height: 38px;
    line-height: 19px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: -o-ellipsis-lastline;
    white-space: normal;
}
.prod-item.individual .prod-info-wrap .prod-name {
    margin-top: 7px;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    height: auto;
    max-height: none;
    -webkit-box-orient: inherit;
    -webkit-line-clamp: inherit;
}
.prod-item.individual .prod-info-wrap .prod-name.multi-line {
    margin-top: 0;
    overflow: hidden;
    height: 42px;
    max-height: 42px;
    line-height: 21px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: -o-ellipsis-lastline;
    white-space: normal;
}
.prod-item.individual .prod-info-wrap .prod-option {
    display: block;
    margin-top: 5px;
}
.prod-item.individual .prod-info-wrap .prod-option .prod-option-value, .prod-item.individual .prod-info-wrap .prod-option .prod-option-increase {
    color: #666;
    font-family: "Montserrat","Noto Sans KR",sans-serif;
    line-height: 24px;
    font-size: 13px;
    letter-spacing: -.65px;
}
/* 주문 가격 td */
.text-center {
    text-align: center;
}
.tbl-wrap.tbl-col.tbl-prod tbody tr td .prod-cost {
    display: inline-block;
}
.tbl-wrap.tbl-col.tbl-prod tbody tr td .prod-cost .value {
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.tbl-wrap.tbl-col.tbl-prod tbody tr td .prod-cost .unit {
    display: inline-block;
    margin-left: 3px;
    font-family: "Noto Sans KR",sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -.75px;
}
/* 입금 대기 td */
.tbl-wrap.tbl-col.tbl-prod tbody tr td .prod-status {
    font-weight: 600;
}
/* 주문 취소 버튼 td */
.tbl-wrap.tbl-col.tbl-prod tbody tr td .btn-sm.btn-line {
    display: block;
}
.btn-line {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

/* 페이지 네비게이션 css */
.pagination-wrap {
	margin-top: 30px;
    padding-top: 40px;
    /* border-top: 1px solid #b5b5b5; */
    position: relative;
    text-align: center;
}	
.pagination-wrap .pagination-list {
    display: inline-block;
}
.pagination-wrap .pagination-list .pagination-item {
    float: left;
}
.pagination-wrap .pagination-list .pagination-item+.pagination-item {
    margin-left: 4px;
}
/* 선택 안된 페이지 */
.pagination-wrap .pagination-list .btn-page {
    color: #999;
    width: 26px;
    height: 26px;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
}
/* 선택된 페이지 */
.pagination-wrap .pagination-list .btn-page.selected {
    color: #fff;
    background: #111;
}
/* 이전 다음 */
.pagination-item.showPrev {
	position:relative; top:3px;
	cursor:pointer;
	margin-right: 10px;
}
.pagination-wrap .pagination-list .pagination-item+.pagination-item.showNext {
	position:relative; top:3px;
	margin-left: 10px;
	cursor:pointer;
}