@charset "UTF-8";

.top-wrap .inner .review-gray-box {
	display: flex;
	align-items: center;
	margin-top: 40px;
	height: 200px;
	border: 6px solid #e5e5e5;
}
.review-gray-box .rating-box {
	position: relative;
	padding: 36px 0 40px;
	width: 550px;
	text-align: center;
	align-self: center;
}
.review-gray-box .rating-box .tit_type1 {
	margin-right: 6px;
	font-size: 16px;
	letter-spacing: -.8px;
	color: #000;
	font-weight: 400;
}
.review-gray-box .rating-box .tit_type2 {
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 60px;
	color: #ee1c25;
	font-weight: 600;
}
.review-gray-box .rating-box .tit_type2 .unit {
	display: inline-block;
	font-size: 22px;
	font-weight: 400;
	color: #000;
	margin-top: 33px;
	vertical-align: top;
}
.review-gray-box .rating-box .tit_type3 {
	margin-top: 14px;
}
.review-gray-box .rating-box .tit_type3 .num {
	padding-left: 6px;
	font-size: 16px;
	color: #000;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	vertical-align: bottom;
}
.review-gray-box .review-text-contents {
	display: flex;
}
.review-text-contents .left-box {
	position: relative;
	width: 500px;
	
}
.review-text-contents .left-box .review-category-list {
	display: block;
	padding: 20px 12px 20px 13px;
}
.review-text-contents .left-box .review-category-list .category-item {
	width: calc(100% / 4);
	float: left;
	text-align: center;
}
.review-category-list .category-item .category {
	display: inline-block;;
	min-width: 62px;
	height: 26px;
	padding: 0 5px;
	font-size: 13px;
	letter-spacing: -.65px;
	line-height: 24px;
	color: #ee1c25;
	border: 1px solid #ee1c25;
	border-radius: 13px;
}
.review-category-list .category-item .text {
	position: relative;
	align-items: center;
	height: 67px;
	padding: 0 15px;
	margin-top: 15px;
	font-size: 16px;
	letter-spacing: -.4px;
	line-height: 18px;
	font-weight: 500;
	justify-content: center;
}
.tab-review {
	text-align: left;
}
.tab-review .border-line-box-header {
	position: relative;
	display: block;
	margin-top: 40px;
	border-bottom: 1px solid #000;
}
.search-result-text {
	display: inline-block;
	font-size: 15px;
	letter-spacing: -.75px;
	padding-bottom: 20px;
}
.tab-review .border-line-box-header .border-line-box {
 	border-width: 1px;
}
.border-line-box .fold-box-list .fold-box {
	border-bottom: 1px solid #d5d5d5;
}
.fold-box-list .fold-box .fold-box-header {
	position: relative;
	padding-right: 33px;
	font-size: 15px;
}
.fold-box .fold-box-header .review-box {
	position: relative;
}
.fold-box .fold-box-header .review-box .rating-wrap {
	min-height: 28px;
	margin-bottom: 12px;
	padding-top: 6px;
}
.fold-box .fold-box-header .review-box .rating-wrap .rating-list {
	display: flex;
	vertical-align: top;
	margin: 1px 0 0 15px;
}
.fold-box .fold-box-header .review-box .rating-wrap .rating-list li {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
    letter-spacing: -.65px;
    margin: 0 7px;
}
.fold-box .fold-box-header .review-box .rating-wrap .rating-list li .rating-type {
    color: #666;
}
.fold-box .fold-box-header .review-box .rating-wrap .rating-list li .desc {
    color: #ee1c25;
}

/* 나중에 다시 */
/* 나중에 다시 */
/* 나중에 다시 */
/* 나중에 다시 */
/* 나중에 다시 */
/* 나중에 다시 */


.fold-box-list .fold-box .fold-box-header .review-text {
	margin-top: 14px;
    min-height: 48px;
    line-height: 24px;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: -.75px;
}

.fold-box-list .fold-box .fold-box-header .review-box .id-date-text {
	margin: 10px 0;
    color: #666;
    font-family: "Montserrat",sans-serif;	
}
.id-date-text .id-text {
	display: inline-block;
    font-size: 13px;
}
.id-date-text .date-text {
	position: relative;
    display: inline-block;
    padding-left: 11px;
    margin-left: 10px;
    font-size: 13px;
}
